body {
  text-align: center;
  font-family: 'Gilroy-Bold', sans-serif;
}
a {
  color: #828282;
  text-decoration: none;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
}
img {
  width: 943.61px;
  height: 387px;
  left: 250.69px;
  top: 276.94px;
  padding: 30px;
}
.wrapper {
  max-width: 1445px;
  margin: 0 auto;
  padding: 0 15px;
}
/* Section */
.whiteSection {
  background-color: white;
  padding: 10px 0 10px;
}
.colorSection {
  background-color: #F6F6F6;
  padding: 10px 0 10px;
}
.navbarHome {
  color: #070707;
}
.hraftertop {
  border: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: 940.6px;
  left: 250.69px;
  top: 87.94px;
}
/* Author  */
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  float: left;
  width: 25%;
}
.author {
  font-size: 47.3392px;
  line-height: 59px;
  margin-left: 11%;
}
.description {
  padding-top: 30%;
}
.gridContainer ul {
  list-style-type: none;
  transform: rotate(-90deg);
  padding-top: 60%;
}
.gridContainer ul li {
  display: inline-block;
}
.gridContainer ul li a {
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  text-decoration: none;
  padding: 0;
}
.headingSection {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}
.aboutMeDiv {
  padding: 0 10px 50px;
}
.text {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.icon {
  width: 50px;
  height: 50px;
  padding: 60px;
}
.icondiv {
  width: 30%;
  margin: auto;
}
.stars {
  padding: 50px;
}
.column {
  float: left;
  width: 25%;
}
.columnIcon {
  float: left;
  width: 25%;
}
.button {
  background: rgba(1, 4, 8, 0.95);
  border-radius: 20px;
  color: #FFFFFF;
  width: 122px;
  font-size: 18px;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 40px;
}
.footer {
  width: 30px;
  height: 30px;
}
.footerA {
  padding: 10px 20px;
}
.end {
  font-family: Gilroy-Medium;
  font-size: 14px;
  text-align: center;
  color: #828282;
  margin: 20px 15px;
}
@media screen and (max-width: 600px) {
  img {
    width: 100%;
    padding: 5px;
  }
  .column {
    width: 50%;
  }
  .description {
    padding-top: 0;
    padding-left: 25%;
  }
  .gridContainer {
    display: none;
  }
  .columnIcon {
    width: 100%;
  }
  .menu {
    width: 50px;
    height: 50px;
    margin-left: 90%;
  }
  .menu span {
    display: block;
    width: 90%;
    height: 10px;
    background: black;
    margin: 6px auto;
    border-radius: 6px;
  }
  nav {
    display: none;
  }
}
