body{
  text-align: center;
  font-family: 'Gilroy-Bold', sans-serif;
}
/* Heading */
.author
{
font-size: 47.3392px;
line-height: 59px;
margin-right: 100px;
}
.headingSection
{
  font-size: 34px;
line-height: 42px;
text-align: center;
}
/* Containers */
.fluidContainer{
  padding: 3% 10% 1%;
}

/* Section */
.whiteSection{
  background-color: white;
  padding: 10px 0 10px;
}

.colorSection{
background-color: #F6F6F6;
padding: 10px 0 10px;
}

/* Text */
.text
{
font-family: Gilroy-Medium;
font-size: 18px;
line-height: 22px;
text-align: center;
}

.textAuthor
{
  padding-top: 85px;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 10px;
  padding-right: 10px;
}


.topcontainer
{
  font-size: 18px;
  line-height: 22px;
  padding: 3% 15% 7%;
}



a {
  color: #828282;
  text-decoration:none;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
}

.navbarHome
{
  color: #070707;
}

.hraftertop
{
  border: 1px solid #828282;
transform: matrix(1, 0, 0, 1, 0, 0);
width: 940.6px;
height: 0px;
left: 250.69px;
top: 87.94px;
}
/* Grid section */
.gridContainer
{
  display: flex;
padding: 3% 25% 7%;

}

.gridOne
{
  text-align: center;

}

img
{
  width: 943.61px;
  height: 387px;
  left: 250.69px;
  top: 276.94px;
}

.gridContainer ul li a {
  font-family:'Gilroy-Bold', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  text-decoration: none;
  padding: 0 0;
}

.gridContainer ul li
{
  display: inline-block;
}

.gridContainer ul{
  list-style-type: none;
  transform: rotate(-90deg);
  padding: 100px;

}

.aboutMeDiv{
  padding: 0 10px 50px;
}

.icon{
  width: 50px;
  height: 50px;
  padding: 40px;
}

.stars{
  padding: 30px;
}
